<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sysc 4806 Project</title>
</head>
<body>
    <h1>Welcome to Sysc 4806 project home page.</h1>

    <a href='http://localhost:8080/login'>
        <button>
            Log In
        </button>
    </a>

    <a href='http://localhost:8080/registration'>
        <button>
            Register
        </button>
    </a>

    <a href='http://localhost:8080/shops'>
        <button>
            Browse Shops
        </button>
    </a>

</body>
</html>